<%- include ("./Gen_Edge_Design_Main/page_top.ejs") %>
<div>

    <label for="data-selection">Select Data to Display:</label>
    <select id="data-selection">
        <option value="uv_radiation">UV Radiation</option>
        <option value="light">Light</option>
        <option value="air_temperature">Air Temperature</option>
        <option value="air_humidity">Air Humidity</option>
        <option value="soil_humidity">Soil Humidity</option>
    </select>
</div>
<div class="plant-container" id="fill-table">
    <% for (let row = 0; row < 12; row++) { %>
        <% for (let col = 0; col < 6; col++) { %>
            <div id="<%= row %>,<%= col %>" class="grid-item device-<%= Math.floor(row / 3) + 1 + col * 4 %>"></div>
        <% } %>
    <% } %>
</div>
<script src="/js/demo_page.js"></script>

<style>
    .connected {
        background-color: green;
    }

    .disconnected {
        background-color: red;
    }
</style>
<%- include ("./Gen_Edge_Design_Main/page_bottom.ejs") %>
